{% comment %}

{% endcomment %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width"/>
  {% include ink.css %}
  {% include custom.css %}
</head>
<body>
  <table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <center>
        {% if page.sendgrid_email_view_link %}
        <p style="text-align:center;font-size:11px;">Email not displaying correctly? <a href="[weblink]" style="color:#002aff;">View it</a> in your browser.</p>
        {% endif %}

          <table class="container">
            <tr>
              <td>


                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns heading">
                        <tr>
                          <td class="center">
                            <center>
                              <a class="logo" href="https://www.codeforamerica.org"><img class="center" src="http://codeforamerica.org/media/images/email/cfalogo-email.jpg" alt="" width="180px" height="70px" /></a>
                            </center>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                      <table class="twelve columns section">
                        <tr>
                          <td class="text-pad">
                            <p class="overline"><span class="center">{{ page.overline_text }}</span></p>
                            <h1 class="center">{{ page.header_text }}</h1>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                      {{ content }}

                      <table class="ten columns section">
                        <tr>
                          <td class="center text-pad">
                            <center>
                              <p class="footer-text"><span class="center">{{ page.footer_text }}</span></p>
                              <p class="footer-text"><span class="center">Code for America &#8226; 155 9th Street &#8226; San Francisco, CA 94103 &#8226; USA</span></p>
                            </center>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table><!-- end table.row -->

              <!-- container end below -->
              </td>
            </tr>
          </table>

        </center>
      </td>
    </tr>
  </table>
</body>
</html>